.header-list{
  list-style: none;
  width:100%;
  height:20%;
  margin: 0;
  grid-column: 2/3;
  padding-left: 35%;
  padding-right: 35%;
}
.header-list>li{
  display: inline-block;
  margin-top: 2%;
  margin: 2%;
}
.header-links{
  text-decoration: none;
  color:white;
  font-family: Arial;
  font-size: 14px;
  font-weight: 600;
}
.header-links:hover{
  color:rgb(183,158,115);
}
.header-container{
  position: relative;
  width:100%;
  height:10%;
  display: grid;
  grid-template-columns: 30% 40% 30%;
  background: #373737;

  z-index: 100;
}
.entrance{
  width:20%;
  height: 23px;
  min-width: 90px;
  min-height: 23px;
  margin-left: 40%;
  margin-top: 1.5%;
  background: rgb(183,158,115);
  color:white;
  font-family: Arial;
  font-size: 14px;
  border: 1px solid rgb(183,158,115);
  cursor: pointer;
  text-align: center;
  padding-top: 1.2%;
  display: block;
  margin-bottom: 3%;
  text-decoration: none;

  overflow: hidden;
}
.entrance:hover{
  color:rgb(183,158,115);
  background: #373737;
  border: 1px solid rgb(183,158,115);

}
.header-li-active{
  color:rgb(183,158,115);
}
