// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #FFFFFF;

$beige:rgb(183,158,115);
$gray-primary:#373737;
$white-typo:rgb(246,250,252);
$black-primary:#252525;

$border-biege-1:1px solid rgb(183,158,115);
$border-biege-2:2px solid rgb(183,158,115);
$border-biege-3:3px solid rgb(183,158,115);

$border-black-1:1px solid #252525;

$font-family-base:Arial;
$font-small:14px;
$font-middle:18px;
$font-big:22px;
$font-big-big:28px;
