.gamefolder{
  position: relative;
  top:5vh;
  height:85vh;
  border:2px solid black;
  margin-left: 10vh;
  margin-right: 10vh;

  min-width: 640px;

  display: grid;
  grid-template-columns: 12% 76% 12%;

  overflow: hidden;
}

.player1{
  grid-column: 1/2;
  border:2px solid gray;
}
.puzzle{
  grid-column: 2/3;
}
.player2{
  grid-column: 3/4;
  border:2px solid gray;
}
.nick-span{
  display: block;
  font-size:22px;
  font-family: Arial;
  font-weight: 600;
  color:black;
  text-align: center;
  margin-top: 20%;
}
.stats-span{
  display: block;
  font-size:18px;
  font-family: Arial;
  font-weight: 500;
  color:black;
  text-align: center;
  margin-top: 20%;
}
