#profile-window {
    border: 1px solid #000;
    height: 800px;
    width: 1720px;
    margin-left: 100px;
    margin-top: 40px;
    
    display: grid;
    grid-template-columns: 600px 500px 1fr;
    grid-column-gap: 10px;
    
    padding: 15px 25px;
    box-sizing: border-box;
}

#profile-window .profile-left, .profile-middle, .profile-right {
    border: 1px solid rgb(165,165,165);
    padding: 24px 25px;
    box-sizing: border-box;
}

#profile-window #profile-main {
    box-sizing: border-box;
    height: 360px;
    width: 100%;
    display: grid;
    grid-template-columns: 220px 1fr;
    grid-column-gap: 2px;
    
    margin-bottom: 20px;
    padding-bottom: 50px;
    border-bottom: 1px solid #555;
}

#profile-window #profile-buttons{
    padding: 0;
    margin-top: 44px;
    height: 200px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 10px;
}

#profile-window #achievements-overflow, #events-overflow, #follows-overflow {
    border: 1px solid #383838;
    width: 100%;
    margin: auto;
    overflow-y: scroll;
    padding: 10px 15px;
    box-sizing: border-box;
}

#profile-window #achievements-overflow {
    height: 300px;
}

#profile-window #events-overflow {
    height: 680px;
}

#profile-window #follows-overflow {
    height: 300px;
}

#profile-window .checkbox-label {
    font-size: 26px;
    display: inline-block;
}

#profile-window #settings-elems {
    border-top: 1px solid #555;
    padding: 12px;
}

#profile-window .section-name {
    margin-bottom: 10px;
    font-size: 24px;
    padding-left: 15px;
    cursor: default;
}
