#profile-window #profile-with-image {
    --border-width: 6px;
    --border-color: darkslateblue;
    --hint-color: rgba(82,75,125,0.25);
    box-sizing: border-box;
    width: 180px;
    height: 320px;
}

#profile-window #profile-image {
    z-index: 8;
    position: relative;
    border: var(--border-width) solid var(--border-color);
    border-radius: 7px;
    box-sizing: border-box;
    width: 180px;
    height: 320px;
/*    background-color: chocolate;*/
    background-image: url("../images/cat.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}


#profile-window #profile-image #image-label {
    z-index: 9;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    font-size: 18px;
    position: absolute;
    bottom: -15px;
    background-color: var(--border-color);
    padding: 3px 10px;
    border: 1px solid darkblue;
    border-radius: 200px;
    color: aliceblue;
    max-width: 140px;
    max-height: 200px;
/*    transition-delay: .07s;*/
/*    transition-property: width;*/
    transition-duration: 0.5s;
/*    word-break: break-all;*/
}

#profile-window #profile-image #profile-hint {
    background: linear-gradient(to top, var(--hint-color) 0%, var(--border-color) 100%);
    background-color: var(--border-color); /* не ебу почему но нужно оставить все background-ы */
    
    transition-delay: .32s;
    transition-duration: .3s;
    z-index: 7;
    height: var(--border-width);
    position: absolute;
    bottom: calc(0px - var(--border-width));
    font-size: 18px;
    width: 100%;
    padding: 7px;
    border-top: 0px solid var(--border-color);
    box-sizing: border-box;
    text-align: center;
}

#profile-window #profile-image #profile-hint p {
    color: #00000000;
    /*    Не работает плавное исчезание текста из-за display: none*/
    transition-duration: 0.25s;
    transition-property: color;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    padding: 0px;
    display: none;
}

#profile-window #profile-image #image-label:hover {
/*    background: linear-gradient(to top, var(--hint-color) 0%, var(--border-color) 100%);*/
/*    transform: translateX(-50%) scaleX(1.2);*/
    
/*    Не работает плавное увеличение размера*/
    cursor: pointer;
}

#profile-window #profile-image #image-label:hover + #profile-hint{
    background: linear-gradient(to top, var(--hint-color) 0%, var(--border-color) 100%);
    transition-delay: 0.0s;
    transition-duration: 0.22s;
    height: 100px;
    border-top: 6px solid var(--border-color);
}

#profile-window #profile-image #image-label:hover + #profile-hint p{
    transition-duration: 0.1s;
    color: white;
    display: block;
}

#profile-window .profile-name {
    font-size: 28px;
    text-decoration: underline;
    cursor: pointer;
    color: black;
}

#profile-window #profile-description {
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    color: #666;
    margin-top: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
}
