#profile-window .friend-main {
  cursor: pointer;
    background-color: #A5A5A5;
    height: 66px;
    padding: 3px 8px;
    margin-bottom: 10px;
    border: 1px solid #252525;
    border-radius: 5px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 58px 1fr;
    grid-column-gap: 15px;
}

#profile-window .friend-main:hover {
  background-color: #9f9595;
}

#profile-window .friend-image {
    height: 58px;
    width: 58px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 1px solid black;
    background-color: aliceblue;
    float: left;
}

#profile-window .friend-other {

}

#profile-window .friend-name {
    color: #fff;
}

#profile-window .friend-description {
    color: #666666;
}

#profile-window .friend-id {

}

#profile-window #find-by-id {
    margin-top: 10px;
    height: 40px;
    display: grid;
    grid-template-rows: 40px 40px;
    grid-template-columns: 1fr;
    font-size: 22px;
}

#profile-window #find-by-id input[type="text"] {
    font-size: 22px;
}

#profile-window #warning-other-profile {
    width: 100%;
    margin-top: 60px;
    font-size: 30px;
    text-align: center;

}
