.verify-text{
    text-align: center;
    font-family: $font-family-base;
    font-size:16px;
}
.email-verify{
    border: $border-biege-2;
    height:250px;
}
.verify-header{
    text-align: center;
    font-family: $font-family-base;
    font-size:$font-big;
    font-weight: 500;
}
